:root {
    --font-size-display: clamp(2.5rem, 1.5rem + 4vw, 3.5rem);
    --letter-spacing-display: -0.0178571428571429em;

    --font-weight-ui: 700;
    --font-family-ui: 'League Spartan', sans-serif;
    --font-family-ui-offset: 0.1em;

    --font-size-keybutton-text: clamp(1.25rem, 0.77rem + 2vw, 1.75rem);
    --letter-spacing-keybutton-text: 0.015em;
    --font-size-keybutton-digit: clamp(2rem, 1.5rem + 2vw, 2.5rem);

    --font-size-ui-sm: 0.75rem;
    --letter-spacing-ui-sm: 0.0833333333333333em;
}

body {
    font-family: var(--font-family-ui);
    font-weight: var(--font-weight-ui);
}
